*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #728fdd;
  }
  .main{
    max-width: 430px;
    width: 100%;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  .main h2{
    font-size: 22px;
    font-weight: 600;
    color: #333;
  }
 
  .main form{
    margin-top: 30px;
  }
  .main form .input-box{
    height: 52px;
    margin: 18px 0;
  }
  form .input-box input{
    height: 100%;
    width: 70%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  form .input-box input:focus{
    width: 100%;
  }
  .input-box input:valid{
    border-color: #4070f4;
  }
  form .copy-right{
    display: flex;
    align-items: center;
  }
  form h3{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }
  .input-box.button input{
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #4070f4;
    cursor: pointer;
    transition: 0.5s;
    width: 100%;
  }
  .input-box.button input:hover{
    background: linear-gradient(45deg, #b5bac5, #0e4bf1);
    box-shadow: 2px 2px 2px #000000 ;
    transition: 0.5s;
  }
  form .text h3{
   color: #333;
   width: 100%;
   text-align: center;
  }
  form .text h3 a{
    color: #4070f4;
    text-decoration: none;
  }
  form .text h3 a:hover{
    text-decoration: underline;
  }
   